.container {
    display: grid;
}

.busca-videos {
    margin: 0px 15px;
    width: 75%;
    justify-self: flex-end;
}

.busca-videos h1 {
    color: #b11515;
}

#results {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

#results .elemento-video {
    width: 30%;
    height: 500px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

#results .elemento-video iframe{
    width: 100%;
    margin: 10px;
}

.favorite-btn {
    cursor: pointer;
}

body {
    font-family: Arial, sans-serif;
}

.menu {
    position: fixed;
    width: 200px;
    height: 90vh;
    background-color: #ffffff;
    border: 2px solid #b11515;
    border-radius: 16px;
    padding: 20px;
}

.menu a {
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.menu a:hover, .menu a.clicked {
    color: #b11515;
}

#searchQuery {
    padding: 10px;
    border: 1px solid #b11515;
    border-radius: 8px;
    width: 40%;
}